body {
	background-color: #f8f9fa;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 0;
	padding: 20px;
}

h1 {
	color: #333;
	text-align: center;
	margin-bottom: 30px;
}



.sidebar {
	width: 30%;
	background: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(250, 0, 0, 0.1);
}

.content {
	width: 70%;
	background: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


li {
	cursor: pointer;
	color: #007bff;
	padding: 5px 0;
	transition: color 0.3s ease;
}

li:hover {
	color: #0056b3;
	text-decoration: underline;
}

form {
	background: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin-top: 40px;
}

form input,
form textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 1rem;
}

form button {
	background-color: #28a745;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 4px;
	cursor: pointer;
	font-size: 1rem;
}

form button:hover {
	background-color: #218838;
}

.custom-dark-card {
	background-color: #1e1e1e !important;
	color: #f1f1f1 !important;
}

.custom-light-card {
	background-color: #ffffff !important;
	color: #212529 !important;
}

.custom-dark-card, .custom-light-card {
	transition: background-color 0.3s ease, color 0.3s ease;
}


